.u-form-label {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-weight: $font-weight-bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: $red-bittersweet;
}

.u-form-field {
  border: none;
  outline: none;

  width: 100%;
  margin-top: 1.2rem;
  padding: 0 2.4rem;
  height: 5.6rem;

  background-color: $gray-athensgray;
  border-radius: 0.8rem;

  font-family: 'Roboto', sans-serif;
  font-weight: $font-weight-regular;
  font-size: 1.8rem;
  line-height: 2.1rem;

  color: $gray-tuna;
}
