$transparent: #0000;

$white: #fff;
$white-blue: #ebf3fe;

$gray-athensgray: #f7f7f7;
$gray-basic: #eaeaea;
$gray-iron: #d6d7d9;
$gray-bombay: #aeaeb3;
$gray-jumbo: #85868d;
$gray-midgray: #5d5d67;
$gray-abbey: #484954;
$gray-tuna: #343541;
$gray-charade: #292a33;

$red-wisppink: #fef6f6;
$red-fairpink: #fdebeb;
$red-cosmos: #fbcfd0;
$red-sweetpink: #f7a0a1;
$red-bittersweet: #f47073;
$red-cherryred: #ec1115;
$red-totempole: #a60c0e;
$red-darkishred: #450001;

$blue-dodger: #2f80ed;

// Shadows
$shadow-movie-card: 0px 24px 78px rgba(0, 0, 0, 0.08),
  0px 5.36071px 17.4223px rgba(0, 0, 0, 0.0238443), 0px 1.59602px 5.18708px rgba(0, 0, 0, 0.0161557);
$shadow-auth-card: 0px 4px 22px rgba(52, 53, 65, 0.15);

// Fonts
$font-size-large: 1.8rem;
$font-size-regular: 1.6rem;
$font-size-small: 1.4rem;

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Sizes
$padding-large: 4rem;
$padding-regular: 3.2rem;
$padding-medium: 2.4rem;
$padding-small: 1.6rem;

$button-height-large: 5.6rem;
$button-height-regular: 4rem;
$button-height-medium: 3.2rem;
$button-height-small: 2.4rem;
$button-border-width: 0.2rem;

$page-padding-regular: 0 4.8rem;
$page-padding-small: 0 2.4rem;

$header-height-regular: 11.2rem;
$header-height-small: 9.8rem;

$border-radius-full: 1000rem;
